<!--
  @description       : Main component 
  @author            : Hitesh Garg
  @last modified on  : 06-23-2021
  @last modified by  : Hitesh Garg
  Modifications Log 
  Ver   Date         Author        Modification
  1.0   06-22-2021   Hitesh Garg   Initial Version
-->
<template>
    <lightning-card variant="narrow" icon-name="standard:">
        <div class="slds-var-m-around_x-small">
            <c-data-table key-field="id" data={data} columns={columns} hide-checkbox-column>
            </c-data-table>
        </div>
    </lightning-card>
</template>