<!--
  @description       : Custom cmp to be included in data table
  @author            : Hitesh Garg
  @last modified on  : 06-23-2021
  @last modified by  : Hitesh Garg
  Modifications Log 
  Ver   Date         Author        Modification
  1.0   06-22-2021   Hitesh Garg   Initial Version
-->
<template>
    <div class="slds-var-m-around_x-small">
        <lightning-button variant="brand" label={paramToCustomCmp}>
        </lightning-button>
    </div>
</template>